* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}


body {
  background: gray;
}

.container {
  padding: 5px 20px;
}

/* navigation bar  */

#nav-bar {
  width: 100%;
  height: 70px;
  background: white;
}

.container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 5px;
}

.left-nav ul li a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding: 0px 10px;
  font-weight: 400;
  font-size: 14px;
}

.right-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-nav ul li {
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 10px;
}

/* benefits bar  */

#benefits {
  width: 100%;
  height: 50px;
  background: #F2F2F2;
}

.benefits-list ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 50px;
}

.benefits-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* slideshow  */
#slideshow{
  width: 100%;
  height: 100vh;
  background-image: url(assets/slideshow_background.png);
  background-size: cover;
  background-position: center;
}
.mySlides {
  display: flex;
  flex-wrap: wrap;
}

.slide1-col-1 {
  flex-basis: 40%;
}

.slide1-col-1 img {
  width: 100%;
  height: 100%;
}

.slide1-col-2 {
  height: 100vh;
  flex-basis: 60%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.slide1-col-2 img {
  width: 644px;
  height: 446px;
}

.slide1-col-2 button {
  border-width: 0;
  margin: 0px 150px;
  padding: 15px 30px;
  font-size: 36px;
  font-weight: 600px;
  transition: background 0.5s, transform 0.5s;
}

.slide1-col-2 button:hover {
  background: black;
  color: white;
  transform: translateY(-5px);
}

/* vip exclusive  */
#vip-exclusive {
  width: 100%;
  background-image: url(assets/vip_background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px 0px;
}

.container button {
  border-width: 0;
  margin: 0px 150px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 800;
  transition: transform 0.5s;
}

#vip-exclusive .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#vip-exclusive .container p {
  color: white;
  font-size: 18px;
  font-weight: 600;
}

#vip-exclusive .container h2{
  color: white;
  font-size: 32px;
  font-weight: 800;
  padding-right: 50px;
}

.black-friday {
  display: flex;
}

.container button:hover{
  transform: translateY(-5px);
}


/* now trending  */
